<div class="hero">
  <div class="container">
      <div class="wrapper">
          <div class="row">
          <div class="player">
            <video controls class="player-video" height="369px" width="610px" class="video" id="video" preload="metadata" poster="assets/img/photo.jpg">
                <!-- <source src="/assets/video/bjp__video.mp4" type="video/mp4">
                <source src="/assets/video/bjp__video.webm" type="video/webm"> -->
            </video>

            <div class="name">
                <img draggable alt="name" src="assets/img/bjp_title.png">
            </div>
          </div>


          <div class="info__hero__content">
              <p>I help <span><b>people with disabilities</b></span> and <span><b>entrepreneurs</b></span>  to find there hide abilities and resources for there businesses.</p>
          </div>
      </div>
      </div>
  </div>
</div>

<div>
  <div class="play__btn">
     <button class="player-btn toggle-play" title="Toggle Play" id="play">
          <svg class="" width="16" height="16" viewBox="0 0 16 16"><title>play</title><path d="M3 2l10 6-10 6z"></path></svg>
     </button>
  </div>
  <div class="line"></div>
</div>
