<div class="beta__alert">
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <h2>The website is currently in beta launch. Please <a href="" alt="contact us if issues"><b>contact us</b></a> if you encounter any issues.</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">



     <nav class="nav">
        <div class="mobile">
            <div class="logo">
              <h2>Brandon Powell</h2>
              <p>God is a Designer Not Me</p>
            </div>

            <img class="hide"src="/assets/img/menu.svg" alt="menu">
        </div>
         <ul class="nav__list">
           <li class="nav__item">
             <small class="Soon">just the beginning</small>
             <a href="" alt="click on about us">home</a>
           </li>
           <span class="line"></span>
           <li class="nav__item">
             <small class="Soon">coming soon</small>
             <a href="#" alt="click on case studies">tech blog</a>
           </li>
           <span class="line"></span>
           <li class="nav__item">
             <small class="Soon">coming soon</small>
             <a href="#" alt="click on career">health blog</a>
           </li>
           <span class="line"></span>
           <li class="nav__item">
             <small class="Soon">pick my brain</small>
             <a href="#" alt="click on blog">want a mentor</a>
           </li>
           <span class="line"></span>
           <li class="nav__item">
             <small class="Soon">donate with money</small>
             <a href="https://www.buymeacoffee.com/brandonpowell" alt="click on lets talk">buy me tea</a>
           </li>
           <span class="line"></span>
           <li class="nav__item">
             <small class="Soon">donate with crypto</small>
             <a href="https://commerce.coinbase.com/checkout/71e6c639-d30e-4d99-a875-fd3786501de6" alt="click on lets talk">buy me coffee</a>
           </li>
         </ul>
    </nav>
</div>

<div class="line"><div>
